<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title>Scenario for @Model.ScenarioSentence</title>
	</head>

	<body>
		<h2>Scenario: @Model.ScenarioSentence</h2>

		<table width="100%" style="border-collapse:collapse">
			<tbody>
				@foreach (var step in @Model.Steps) {
                    if (step.Result == Bddify.StepExecutionResult.Succeeded) 
                    {
                        <tr style="background-color:Lime"> 
				            <td>@step.ReadableMethodName</td>
						    <td>@step.Result</td>
					    </tr>
                    }
                    else if (step.Result == Bddify.StepExecutionResult.NotImplemented || step.Result == Bddify.StepExecutionResult.Inconclusive)
                    {
                        <tr style="background-color:Yellow">
				            <td>@step.ReadableMethodName</td>
						    <td>@step.Result</td>
					    </tr>
                    }
                    else if (step.Result == Bddify.StepExecutionResult.Failed)
                    {
                        <tr style="background-color:Red">
				            <td>@step.ReadableMethodName</td>
						    <td>@step.Result</td>
					    </tr>
                    }
                    else
                    {
                        <tr>
				            <td>@step.ReadableMethodName</td>
						    <td>@step.Result</td>
					    </tr>
                    }
				}
			</tbody>
		</table>

		<p>Run by Bddifier</p>
	</body>
</html>