<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title>Bddify Test Result @DateTime.Now.ToShortDateString()</title>
		
		<style type="text/css">
			#main
			{
				margin:auto;
				width:80%;
				background-color:#a0a0e0;
			}
			
			body
			{
			    background-color:#606060;
			}
			
			#header
			{
			    padding:10px;
			    height:100px;
			    background-color:#555555;
			    color:White;
			}
			
			#summaryBox
			{
			    padding:10px;
			}
			
			#testResult
			{
			}
			
			table
			{
				width:100%;
				padding:5px;
				border-collapse:collapse;
			}
			
			tbody
			{
				text-align:left
			}
			
			td.Passed
			{
				background-color:Green
			}
			
			td.Failed
			{
				background-color:Red
			}
			
			td.Inconclusive
			{
				background-color:Yellow
			}
			
			td.NotImplemented
			{
				background-color:Yellow
			}
			
			tr.scenario
			{
			    cursor:pointer;
			}
			
			th.scenarioHeader
			{
				width:400px    
			}

			th.resultHeader
			{
				width:100px;
			}
			
			th.summaryResult
			{
				width:100px;    
			}
			
			th.summaryCount
			{
				width:100px;    
			}
			
			table#summaryTable
			{
				width:250px;
				border-collapse:collapse;
			}
			
			table#summaryTable td
			{
				text-align:left;
			}
		</style>

		<script type="text/javascript" src="jquery-1.4.4.min.js"> </script>
	</head>

	<body>
        <div id="main">
	        <div id="header">
    	        <h2>Bddify Test Result @DateTime.Now.ToShortDateString()</h2>
            </div>

		    <div id="summaryBox">
			    <strong>Test Summary:</strong>
			    <table id="summaryTable">
				    <thead>
					    <tr>
						    <td class="summaryResult"></td>
						    <td class="summaryCount"></td>
					    </tr>
				    </thead>
				    <tbody>
					    <tr>
						    <th>Passed</th>
						    <td>@Model.Count(b => b.Result == Bddify.Core.StepExecutionResult.Passed)</td>
					    </tr>
					    <tr>
						    <th>Failed</th>
						    <td>@Model.Count(b => b.Result == Bddify.Core.StepExecutionResult.Failed)</td>
					    </tr>
					    <tr>
						    <th>Inconclusive</th>
						    <td>@Model.Count(b => b.Result == Bddify.Core.StepExecutionResult.Inconclusive)</td>
					    </tr>
					    <tr>
						    <th>Not Implemented</th>
						    <td>@Model.Count(b => b.Result == Bddify.Core.StepExecutionResult.NotImplemented)</td>
					    </tr>
					    <tr>
						    <th>Not Executed</th>
						    <td>@Model.Count(b => b.Result == Bddify.Core.StepExecutionResult.NotExecuted)</td>
					    </tr>
				    </tbody>
			    </table>
		    </div>

            <div id="testResult">
		        <table>
			        <thead>
				        <tr>
					        <th class="scenarioHeader"></th>
					        <th></th>
					        <th class="resultHeader"></th>
				        </tr>
			        </thead>
			        <tbody>
				        @foreach (var group in Model.GroupBy(b => b.Object.GetType().Namespace)) {
					        <tr class="namespace">
						        <td colspan="3"><strong>@group.Key</strong></td>
					        </tr>

					        foreach (var bddee in group) {
						        <tr class="scenario" id="@bddee.Object.GetType().Name">
							        <td class="@bddee.Result">@bddee.ScenarioSentence</td>
							        <td class="@bddee.Result"></td>
							        <td class="@bddee.Result">@bddee.Result</td>
						        </tr>
						        foreach (var step in bddee.Steps) {
						        <tr class="step @bddee.Object.GetType().Name">
							        <td></td>
							        <td class="@step.Result">@step.ReadableMethodName</td>
							        <td class="@step.Result">@step.Result</td>
						        </tr>
						        }

                                <!-- empty row to separate scenarios -->
						        <tr class="step @bddee.Object.GetType().Name" style="height:5px">
							        <td colspan="3"></td>
						        </tr>
					        }
				        }
			        </tbody>
		        </table>
            </div>

		    <script type="text/javascript">
		        $(function () {
		            $('tr.step').hide();
		            $('tr.scenario').click(function () {
		                $('tr.' + $(this).attr('id')).toggle();
		            });
		        });
		    </script>
        </div>
	</body>

</html>