<!DOCTYPE HTML>
<html>
	<head>
		<title>Bddify Test Result @DateTime.Now.ToShortDateString()</title>
		
		<style type="text/css">
			body
			{
				min-width:900px;
				max-width:100%;
				background-color:#fff;
			}
			
			#main
			{
				margin: 0 auto;
				width: 100%;
				background-color:#ddf;
			}
			
			#header
			{
				height:50px;
				vertical-align:middle;
				background-color:Green;
				padding:10px;
			}
			
			#bddifyTitle
			{
			  font-size:x-large;
			  font-weight:bold;
				color:yellow;
			}
			
			#bddifyDescription
			{
			  font-size:large;
				color:#fff;
			}
			
			#summaryDiv
			{
			  height:210px;
			  margin:5px;
			  padding:5px;
			}
			
			#resultSummary
			{
				float:left;
			}
			
			#coverageSummary
			{
				float:left;
				margin-left:50px;
			}

			#testResult
			{
			  margin:5px;
			  padding:5px;
				float:none;
			}
			
			#testResult table
			{
        background-color:White;
        color:Black;
			}
			
			table
			{
				width:100%;
				padding:5px;
				border-collapse:collapse;
			}
			
			tbody
			{
				text-align:left;
			}
			
			td 
			{
				padding:5px;
			}
			
			td.Passed
			{
				background-color:#009F00;
			}
			
			td.Failed
			{
				background-color:#DF0000;
				font-weight:bold;
			}
			
			td.Inconclusive
			{
				background-color:Yellow
			}
			
			td.NotImplemented
			{
				background-color:Orange
			}
			
			td.NotExecuted
			{
				background-color:#606060;
			}
			
			tr.scenario
			{
				cursor:pointer;
			}
			
			td.scenarioText
			{
				text-decoration:underline;
			}
			
			tr.hasException
			{
				cursor:pointer;
				text-decoration:underline;
			}
			
			th.scenarioHeader
			{
				width:250px    
			}

			th.resultHeader
			{
				width:100px;
			}
			
			th.summaryHeader
			{
				width:100px;    
			}
			
			th.summaryCount
			{
				width:100px;    
			}

			td.duration
			{
				width:100px;
			}
			
			td.indentation
			{
				width:30px;
			}
			
			td.result
			{
				width:150px;
			}
			
			table.summaryTable
			{
				width:250px;
				border-collapse:collapse;
			}
			
			table.summaryTable td
			{
				text-align:left;
			}
			
			.summaryLable
			{
			  width:120px;
			}
			
			tr.assembly
			{
				background-color:#101010;
				color:White;
				height:40px;
			}
			
			tr.namespace
			{
				background-color:#303030;
				color:White;
				height:35px;
			}
			
			tr.step
			{
			  background-color:#eee;
			}

      tr.step td
      {
      }
		
		  td.result
		  {
		    width:10px;
		  }
			
			.spacer td
			{ 
				padding:1px;
			}
		</style>

		<script type="text/javascript">
		    function toggle(id) {
		      var e = document.getElementById(id);
		      if (e.style.display == 'none') {
		        e.style.display = '';
		      }
		      else {
		        e.style.display = 'none';
		      }
		    }
		</script>
	</head>

	<body>
		<div id="main">
			<div id="header">
				<span id="bddifyTitle">Bddify</span>
                <br />
				<span id="bddifyDescription">An awesome BDD framework for .Net developers</span>
			</div>

			<div id="summaryDiv">
        <h4>Summary</h4>

        <div id="innderSummaryDiv">
            <div id="resultSummary">
				      <table class="summaryTable">
					      <tbody>
						      <tr>
                    <td class="result Passed"></td>
                    <td class="summaryLable">Passed</td>
							      <td>@Model.Count(b => b.Result == Bddify.Core.StepExecutionResult.Passed)</td>
						      </tr>
						      <tr>
				            <td class="result Failed"></td>
							      <td class="summaryLable">Failed</td>
							      <td>@Model.Count(b => b.Result == Bddify.Core.StepExecutionResult.Failed)</td>
						      </tr>
						      <tr>
				            <td class="result Inconclusive"></td>
							      <td class="summaryLable">Inconclusive</td>
							      <td>@Model.Count(b => b.Result == Bddify.Core.StepExecutionResult.Inconclusive)</td>
						      </tr>
						      <tr>
				            <td class="result NotImplemented"></td>
							      <td class="summaryLable">Not Implemented</td>
							      <td>@Model.Count(b => b.Result == Bddify.Core.StepExecutionResult.NotImplemented)</td>
						      </tr>
						      <tr>
				            <td class="result NotExecuted"></td>
							      <td class="summaryLable">Not Executed</td>
							      <td>@Model.Count(b => b.Result == Bddify.Core.StepExecutionResult.NotExecuted)</td>
						      </tr>
					      </tbody>
				      </table>
            </div>

            <div id="coverageSummary">
				      <table class="summaryTable">
					      <tbody>
						      <tr>
							      <td class="summaryLable">Namespaces</td>
							      <td>@Model.GroupBy(b => b.Object.GetType().Namespace).Count()</td>
						      </tr>
						      <tr>
							      <td class="summaryLable">Test Classes</td>
							      <td>@Model.Count()</td>
						      </tr>
					      </tbody>
				      </table>
            </div>
        </div>
		  </div>

			<div id="testResult">
        @{
            string assemblyName = string.Empty;
            if (Model.Count > 0) { 
                string assembly = Model[0].Object.GetType().Assembly.CodeBase;
                assemblyName = assembly; // "..." + assembly.Substring(assembly.Length - 60);
            }
        }

        <p>Assembly: '@assemblyName'</p>

				<table>
					<tbody>
						@foreach (var group in Model.GroupBy(b => b.Object.GetType().Namespace)){
							<tr class="namespace">
								<td colspan="4">@group.Key</td>
							</tr>

							foreach (var scenario in group) {
              <tr class="scenario" onclick="toggle('@scenario.Id');">
								<td class="result @scenario.Result"></td>
								<td class="scenarioText" colspan="3">@scenario.ScenarioText</td>
							</tr>
							<tr class="step" id="@scenario.Id" style="display:none">
                <td class="result @scenario.Result" />
                <td colspan="3" style="padding:0px">
                  <table>
                  @foreach (var step in scenario.Steps) {
                    string stepClass = string.Empty;
                    string result = step.ReadableMethodName;
                    if(step.Exception != null){
                      stepClass = "hasException";
                                            
                      if(!string.IsNullOrEmpty(step.Exception.Message)){
                          result += " [Exception Message: '" + step.Exception.Message + "']";
                      }
                    }
                    <tr class="@stepClass step" onclick="toggle('@step.Id');">
    									<td class="result @step.Result"></td>
										  <td class="indentation"></td>
										  <td colspan="2">@result</td>
                    </tr>

                    if (step.Exception != null) {
									  <tr class="exceptionDetails step" id="@step.Id" style="display:none">
        							<td class="result @step.Result"></td>
    									<td class="indentation"></td>
										  <td class="indentation"></td>
										  <td>@step.Exception.StackTrace</td>
									  </tr>
                    }
                  }
                  </table>                                    
                </td>
		  				</tr>
								    <!-- empty row to separate scenarios -->
								    <tr class="spacer step">
									    <td colspan="4"></td>
								    </tr>
                            }
              }
					</tbody>
				</table>
			</div>
		</div>
	</body>

</html>